body,
* {
  padding: 0%;
  margin: 0%;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

#baseContent {
  background-color: rgb(237, 237, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: max-content;
  width: 100vw;
}

#leftHalf {
  width: 20%;
}

#rightHalf {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#dummyPages {
  width: 1101px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dummyPages .card {
  width: 400px;
}
#dummyPages #iconShow {
  margin-right: 10px;
}

#dummyPages #seven0 {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  #baseContent {
    width: max-content;
  }

  #leftHalf {
    width: 280px;
  }

  #rightHalf {
    width: 1101px;
  }
}
