#grid {
  display: inline-block;
  /* width: 958px; */
  /* padding: 0px 10px; */
  width: 100%;
  height: 300px;
  /* width: 100%;
  height: 100%; */
}

.bg-transparent {
  /* background-color: rgb(243, 243, 251); */
  background-color: red;
}

.bg-white {
  background-color: white;
}
